@(tasks: com.fasterxml.jackson.databind.JsonNode,
form: Form[Forms.TaskForm],
selectForm: Form[Forms.SearchForm],
deleteForm: Form[Forms.DeleteForm])


@main("さんぷる") {

<h1>さんぷる</h1>

<ul>
  @for(task <- tasks.findValuesAsText("label").toArray()) {
    <li>
      @task
    </li>
  }
</ul>

  <form action="@routes.Application.addTask()" method="post">
      <input type="text" name="label">
      <button type="submit">作成</button>
  </form>

<form action="@routes.Application.searchJson()" method="post">
   <p>IDによる検索</p><input type="text" name="id">
     <p>id</p><input type="text" name="id">
     <input type="submit" value="検索">
  </form>

<form action="@routes.Application.deleteJson()" method="post">
  <p>削除id</p><input type="text" name="deleteId">
  	<input type="submit" value="削除">
  </form>
}
